html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nebula {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    mask-image: url('solar-system-mask.svg');
    mask-size: cover;
}

.nebula-layer {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.nebula-layer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none !important;
    /* remove border */
}

.nebula-layer {
    border: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transition: opacity 0.2s ease-in-out;
}

.popup-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
}

.popup-mass,
.popup-radius {
    margin: 0;
}

.solar-system {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    z-index: 3;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #ff9800;
    border-radius: 50%;
    box-shadow: 0 0 30px 10px #ff9800;
    animation: spin 10s linear infinite;
}

.mercury {
    position: absolute;
    top: 47.5%;
    left: 48.5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    /* Change this to gray */
    border: 2px solid #333;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
    /* Set to the center of the Sun element */
    animation: rotate 4s linear infinite, orbit 8s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translate(120px, -50px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(120px, -50px) rotate(-360deg);
    }
}

.venus {
    position: absolute;
    top: 47.5%;
    left: 48.5%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: orange;
    border: 2px solid #333;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
    animation: rotate 6s linear infinite, orbit2 12s linear infinite;
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg) translate(160px, -90px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(160px, -90px) rotate(-360deg);
    }
}

.earth {
    position: absolute;
    top: 47.5%;
    left: 48.5%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    border: 2px solid #333;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
    animation: rotate 8s linear infinite, orbit3 16s linear infinite;
}

@keyframes orbit3 {
    from {
        transform: rotate(0deg) translate(200px, -130px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(200px, -130px) rotate(-360deg);
    }
}

.mars {
    position: absolute;
    top: 47.5%;
    left: 48.5%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid #333;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
    animation: rotate 10s linear infinite, orbit4 20s linear infinite;
}

@keyframes orbit4 {
    from {
        transform: rotate(0deg) translate(240px, -170px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(240px, -170px) rotate(-360deg);
    }
}